@import "../base/_base";
@import "../abstracts/_variables";


.btn {
    padding: .75em 1.5em;
    border: 0;
    margin: .5em 1em;
    border-radius: .3em;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color ease-in-out .3s;
    color: var(--main-text-color);
    background-color: transparent;
    i {
        margin-right: .5em !important;
    }
    &.icon {
        width: 40px;
        height: 40px;
        padding: 0;
        font-size: 1em;
        text-align: center;
        border-radius: 20px;
        i {
            margin: 0 !important;
        }
        &.large {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            i {
                font-size: 1.4em;
            }
        }
        &.small {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            i {
                font-size: 1em;
            }
        }
    }
    &:hover {
        background-color: var(--button-plain-hover);
    }
    &.outline {
        background-color: transparent;
        border: 1px solid var(--main-text-color);
        color: var(--main-text-color);
        &:hover {
            background-color: var(--main-text-color);
            color: var(--btn-fill-color);
        }
    }

    &:focus {
        border: none;
        outline:0;
    }

    i {
        color: var(--button-text-plain);
        margin-right: .3em;
    }

    &.primary {
        background-color: var(--button-primary-color);
        color: var(--btn-fill-color);
        &:hover {
            background-color: var(--button-primary-hover);
        }
        &.outline {
            background-color: transparent;
            border: 1px solid var(--button-primary-color);
            color: var(--button-primary-color);
            &:hover {
                background-color: var(--button-primary-color);
                color: var(--btn-fill-color);
            }
        }
    }

    &.accent {
        background-color: var(--button-secondary-color);
        color: var(--btn-fill-color);
        &:hover {
            background-color: var(--button-secondary-hover);
        }
        &.outline {
            background-color: transparent;
            border: 1px solid var(--button-secondary-color);
            color: var(--button-secondary-color);
            &:hover {
                background-color: var(--button-secondary-color);
                color: var(--btn-fill-color);
            }
        }
    }

    &.success {
        background-color: var(--button-success-color);
        color: var(--btn-fill-color);
        &:hover {
            background-color: var(--button-success-hover);
        }
        &.outline {
            background-color: transparent;
            border: 1px solid var(--button-success-color);
            color: var(--button-success-color);
            &:hover {
                background-color: var(--button-success-color);
                color: var(--btn-fill-color);
            }
        }
    }

    &.danger {
        background-color: var(--button-danger-color);
        color: var(--btn-fill-color);
        &:hover {
            background-color: var(--button-danger-hover);
        }
        &.outline {
            background-color: transparent;
            border: 1px solid var(--button-danger-color);
            color: var(--button-danger-color);
            &:hover {
                background-color: var(--button-danger-color);
                color: var(--btn-fill-color);
            }
        }
    }

    &.warn {
        background-color: var(--button-warn-color);
        color: var(--btn-fill-color);
        &:hover {
            background-color: var(--button-warn-hover);
        }
        &.outline {
            background-color: transparent;
            border: 1px solid var(--button-warn-color);
            color: var(--button-warn-color);
            &:hover {
                background-color: var(--button-warn-color);
                color: var(--btn-fill-color);
            }
        }
    }
    &:disabled {
        background-color: var(--button-disabled-default-bg);
        color: var(--button-disabled-text-color);
        &:hover {
            background-color: var(--button-disabled-default-bg);
            cursor: not-allowed;
        }
        &.fill {
            background-color: var(--button-disabled-default-bg);
            // color:#1565c0;
        }
        &.outline {
            background-color: transparent;
            border: 1px solid var(--button-disabled-text-color);
            color: var(--button-disabled-text-color);
            &:hover {
                color: var(--button-disabled-text-color);
                background-color: transparent;
            }
        }
        i {
            color: var(--button-disabled-text-color)!important;
        }
    }
    &.large {
        font-size: .8em;
        i {
            font-size: 1em;
        }
    }
    &.small {
        font-size: .7em;
        i {
            font-size: 1.1em;
        }
    }
    &.rounded {
        border-radius: 5em;
    }

}