.delete-icon {
    font-size: 1.2em;
    transition: color .3s ease-in-out

}


.delete-icon-btn {
    i {
        font-size: 12px
    }
}

    //&:hover
    //    .delete-icon
    //        color var(--color-warn)
