.modal {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 24px 8px;
    .header {
        padding-top 24px;
        .title {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: .005em;
            margin 0 0 10px 0;
        }
    }
    .content {
        .desc {
            font-size 1rem;
            margin-top 12px;
            color: rgba(0, 0, 0, 0.87)
        }
    }
    .action {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}
