<!-- <div fxLayout="column" id="login">

    <div fxLayout="column" fxLayoutAlign="center center" id="login-form-wrapper">
        <div id="login-form">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="logo">
                    <img src="assets/images/avatars/logo1.png">
                </div>
                <div>
                    <div class="main-title text-color-1">Welcome to</div>
                </div>
            </div>

            <form (submit)="doLogin()" [formGroup]="loginForm" name="loginForm" novalidate>
                <div>
                    <input formControlName="email" type="email" required matInput placeholder="Email">
                   
                </div>

                <div>
                    <input formControlName="password" matInput placeholder="Password" type="password">
                   
                </div>
                <div fxFill>
                    <button [disabled]="loginForm.invalid" aria-label="LOG IN" class="submit-button" color="primary" fxFill
                            mat-raised-button>
                        <span>LOGIN</span>
                    </button>
                </div>
            </form>
           
        </div>
    </div>
</div> -->

<div fxLayout="row" fxLayoutAlign="space-around center" >

    <div>1</div>
    <div>2</div>
</div>
