<div class="w-500">
    <div class="dialog-header">
        <h3 class="title">{{ data.id ? "Edit" : "Add"}} User</h3>
        <button (click)="close()" mat-icon-button>
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div>
        <form [formGroup]="form" class="column form-padding">

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter Name" formControlName="name" required>
                <mat-error>Name is <strong>required</strong></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email" formControlName="email" required>
                <mat-error *ngIf="form.get('email').errors?.required">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="form.get('email').errors?.email">Not a valid email</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" *ngIf="!data?.id">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter password" formControlName="password">
                <mat-error>Password is <strong>required</strong></mat-error>
            </mat-form-field>

            <div class="w-100 row j-end a-center">
                <button type="button" (click)="close()" class="btn plain mr-1">Cancel</button>
                <button (click)="submit()" class="btn primary" [disabled]="form.invalid">{{ data.id ? "Update" : "Add"}}</button>
            </div>

        </form>
    </div>
</div>
