:host {
    #login {
        width: 100%;
        overflow: auto;
        background-color #373737;
        min-height 100vh;
        #login-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;


            #login-form {
                width: 400px;
                max-width: 400px;
                padding: 40px 32px;
                text-align: center;
                background var(--main-forground)
                border-radius 6px
                .logo {
                    margin: 23px auto 32px;
                    img {
                        width 100%
                    }
                }

                .main-title {
                    font-size: 14px;
                    margin: 34px 0 -9px 0;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 50px 0;
                }

                form {
                    width 100%
                }

                .btn {
                    font-size 1em
                    margin 0 0 2em
                }

            }
        }
    }
}
