<div class="w-500">
    <div class="dialog-header">
        <h3 class="title">Create Role</h3>
        <button mat-icon-button (click)="close()">
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div>
        <form [formGroup]="form" class="column form-padding">

            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </form>
    </div>
</div>
