.toggle-icon {
    font-size: 1.2em
}
.action-list-item {
    padding: 14px;
    flex: 1;
    margin-right: .5em;
    border-radius: .5em;
    &.active {
        background-color: var(--item-active)
    }
    &:hover {
        background-color: var(--item-active)
    }
}

.list-icon {
    font-size: 1.3em

}
.list-hover {
    &:hover {
        background-color: var(--item-active)
    }
}
