<div class="main-content">
    <div
        class="
            flex
            justify-between
            border-b-1
            px-8
            py-5
            border-gray-400
            shadow-sm
        "
    >
        <div>
            <h3>Sales</h3>
            <p>List of all Sales</p>
        </div>
        <div>
            <button class="mat-focus-indicator mat-icon-button mat-button-base">
                <span class="mat-button-wrapper"><a href=""></a></span
                ><span
                    matripple=""
                    class="mat-ripple mat-button-ripple mat-button-ripple-round"
                ></span
                ><span class="mat-button-focus-overlay"></span>
            </button>
            <button matRipple class="btn success">
                <i class="fal fa-plus"></i>Add Sales
            </button>
            <label
                htmlFor="email"
                className="relative bg-red-400 text-gray-400 focus-within:text-gray-600 block"
            >
                <i class="fal fa-plus"></i>

                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="email@kemuscorp.com"
                    className="form-input w-full"
                />
            </label>
        </div>
    </div>

    <div>
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer opened #drawer class="example-sidenav" mode="side">
                <p>Auto-resizing sidenav</p>
                <p *ngIf="showFiller">
                    Lorem, ipsum dolor sit amet consectetur.
                </p>
                <button (click)="showFiller = !showFiller" mat-raised-button>
                    Toggle extra text
                </button>
                <div class="mx-6 mt-2">
                    <div class="flex items-center">
                        <div class="text-lg font-semibold">Storage</div>
                    </div>
                    <div class="flex flex-col flex-auto mt-4">
                        <span class="text-sm leading-none mb-3"
                            >19.9 GB of 100 GB used</span
                        ><mat-progress-bar
                            role="progressbar"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            tabindex="-1"
                            class="mat-progress-bar mat-primary"
                            aria-valuenow="19.9"
                            mode="determinate"
                            ><div aria-hidden="true">
                                <svg
                                    width="100%"
                                    height="4"
                                    focusable="false"
                                    class="
                                        mat-progress-bar-background
                                        mat-progress-bar-element
                                    "
                                >
                                    <defs>
                                        <pattern
                                            x="4"
                                            y="0"
                                            width="8"
                                            height="4"
                                            patternUnits="userSpaceOnUse"
                                            id="mat-progress-bar-18"
                                        >
                                            <circle
                                                cx="2"
                                                cy="2"
                                                r="2"
                                            ></circle>
                                        </pattern>
                                    </defs>
                                    <rect
                                        width="100%"
                                        height="100%"
                                        fill="url('/ui/page-layouts/carded/left-sidebar-2/overview#mat-progress-bar-18')"
                                    ></rect>
                                </svg>
                                <div
                                    class="
                                        mat-progress-bar-buffer
                                        mat-progress-bar-element
                                    "
                                ></div>
                                <div
                                    class="
                                        mat-progress-bar-primary
                                        mat-progress-bar-fill
                                        mat-progress-bar-element
                                    "
                                    style="transform: scale3d(0.199, 1, 1)"
                                ></div>
                                <div
                                    class="
                                        mat-progress-bar-secondary
                                        mat-progress-bar-fill
                                        mat-progress-bar-element
                                    "
                                ></div></div
                        ></mat-progress-bar>
                    </div>
                </div>
            </mat-drawer>

            <div class="example-sidenav-content">
                <button type="button" mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                </button>
                <div class="table-wrapper bg-red-200">
                    <table
                        mat-table
                        [dataSource]="data"
                        class="mat-elevation-z8 shadow-none w-full"
                    >
                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>No.</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.position }}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.name }}
                            </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef>Weight</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.weight }}
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef>Symbol</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.symbol }}
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <mat-paginator
                        [length]="100"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page"
                    >
                    </mat-paginator>
                </div>
            </div>
        </mat-drawer-container>
    </div>

    <!-- <small>Default</small><br>

        <button mat-ripple class="btn"><i class="fal fa-plus"></i>Default Button</button>
        <button mat-ripple class="btn primary small"> <i class="fal fa-plus"></i>Primary Button</button>
        <button mat-ripple class="btn accent"> <i class="fal fa-plus"></i>Secondary Button</button>
        <button mat-ripple class="btn warn"> <i class="fal fa-plus"></i>Warning Button</button>
        <button mat-ripple class="btn danger"> <i class="fal fa-plus"></i>Danger Button</button>

        <br>

        <small>Outline Buttons</small><br>

        <button mat-ripple class="btn outline"><i class="fal fa-plus"></i>Default Button</button>
        <button mat-ripple class="btn outline primary"> <i class="fal fa-plus"></i>Primary Button</button>
        <button mat-ripple class="btn outline accent"> <i class="fal fa-plus"></i>Secondary Button</button>
        <button mat-ripple class="btn outline success"> <i class="fal fa-plus"></i>Success Button</button>
        <button mat-ripple class="btn outline warn"> <i class="fal fa-plus"></i>Warning Button</button>
        <button mat-ripple class="btn outline danger"> <i class="fal fa-plus"></i>Danger Button</button> -->
</div>
