
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Set Theme Colors
$primary-color: darken(#0984e3, 0%);
$secondary-color: #6c5ce7;
$success-color: #00b894;
$warning-color: #e17055;
$danger-color: #d63031;


$dark-priamry: #1a202e;
$dark-secondary: #27303f;
$light-primary: #f8f9fb;
$light-secondary: #edf2f6;

// Settings
$darken-level: 7%;
$lighten-level: 7%;


:root {
    --button-plain-hover: #{$light-secondary};
    --button-disabled-default-bg: #{$light-secondary};
    --button-default-hover: #{$light-secondary};

    --button-disabled-text-color:  #a4a7ac;
    --btn-fill-color: #fff;


    --primary-color: #{$primary-color};
    --primary-hover: #{darken($primary-color, $darken-level)};

    --secondary-color: #{$secondary-color};
    --secondary-hover: #{darken($secondary-color, $darken-level)};

    --success-color: #{$success-color};
    --success-hover: #{darken($success-color, $darken-level)};

    --warning-color: #{$warning-color};
    --warning-hover: #{darken($warning-color, $darken-level)};

    --danger-color: #{$danger-color};
    --danger-hover: #{darken($danger-color, $darken-level)};

}

.dark-theme {

    --button-plain-hover: #{$dark-secondary};
    --button-disabled-default-bg: #{$dark-secondary};
    --button-default-hover: #{$dark-secondary};
    
}


