<div class="modal">
    <div class="header">
        <h2 class="title text-color">{{ data.title || 'Delete Confirmation' }}</h2>
    </div>
    <div class="content">
        <i class="fal fa-info-circle"></i>
        <p class="desc text-color">{{ data.description || '' }}</p>
        <div style="padding: 1em 0" class="w-100" *ngIf="remarks">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Remarks</mat-label>
                <input matInput [placeholder]="remarkPlaceholder" [formControl]="remarkControl">
            </mat-form-field>
        </div>

    </div>
    <div class="action">

        <button class="mr-1 light-button" type="button" mat-dialog-close mat-flat-button>
<!--            <i class="fal fa-times"></i>-->
            No
        </button>

        <button (click)="submit()" [disabled]="(remarks && !remarkControl.value)" mat-flat-button color="warn">
<!--            <i class="fal fa-check"></i>-->
            YES
        </button>

    </div>
</div>
