$approved = #17b317;
$inactive = #97a6ba;

.timeline-wrapper {
    display flex
    flex-direction row
    margin .5em 0
    .dot-line {
        display flex
        flex-direction column
        align-items center
        .dot {
            width 20px
            height 20px
            border-radius 10px
            border 1px solid $inactive
            display flex
            justify-content center
            align-items center
            &.pending {
                border 1px solid $approved
            }
            &.approved {
                background-color $approved
                border 1px solid $approved
            }
            &.rejected {
                background-color var(--warn-color)
                border 1px solid var(--warn-color)
            }
        }
        .filled-circle {
            width 14px
            height 14px
            border-radius 7px
            background-color $inactive
            &.approved,
            &.pending {
                background-color $approved
            }
            &.rejected {
                background-color var(--warn-color)
            }
        }
        .line {
            margin-top 6px
            width 2px
            height 40px
            background-color $inactive
            &.approved {
                background-color $approved
            }
            &.rejected {
                background-color var(--warn-color)
            }
        }
    }

    .title-desc {
        display flex
        flex-direction column
        padding-left 19px
        .title {
            color: var(--main-text-color);
            font-size: 1.1em;
            font-weight: 500;
            margin-top: 2px;
            margin-bottom: 8px;
        }
        .description {
            color var(--main-text-color-2);
            font-size 0.9em
            font-weight normal
        }
    }
}
.edit-link {
    font-size .8em
    cursor pointer
    opacity 0.7
    margin-left .5em
}
