<app-header [search]="true">
    <div class="breadcrumbs">
        <a class="root-link underline-hover" routerLink="/employees">Employees</a>
        <span class="steps"> / All</span>
    </div>
    <button mat-button>Button</button>
    <app-button  text="Sample Button" type="plain" size="normal" ></app-button>  
</app-header>
<div class="container">
    <p>Dashboard</p>
<app-button text="Large" size="large"></app-button>  
<app-button text="Small Button" size="small" icon="fa-home"></app-button>  
<app-button text="Normal Button" type="danger" ></app-button>  
<app-button text="Plain Button" type="plain" ></app-button>  


</div>