<app-header [search]="true">
    <div class="breadcrumbs">
        <a class="root-link underline-hover" routerLink="/employees">Employees</a>
        <span class="steps"> / All</span>
    </div>
    <button mat-button>Button</button>
</app-header>
<div class="container">

    <div >

        <div>

        </div>


        <small>Default</small><br>

        <button mat-ripple class="btn"><i class="fal fa-plus"></i>Default Button</button>
        <button mat-ripple class="btn primary small"> <i class="fal fa-plus"></i>Primary Button</button>
        <button mat-ripple class="btn accent"> <i class="fal fa-plus"></i>Secondary Button</button>
        <button mat-ripple class="btn success"> <i class="fal fa-plus"></i>Success Button</button>
        <button mat-ripple class="btn warn"> <i class="fal fa-plus"></i>Warning Button</button>
        <button mat-ripple class="btn danger"> <i class="fal fa-plus"></i>Danger Button</button>

        <br>

        <small>Outline Buttons</small><br>

        <button mat-ripple class="btn outline"><i class="fal fa-plus"></i>Default Button</button>
        <button mat-ripple class="btn outline primary"> <i class="fal fa-plus"></i>Primary Button</button>
        <button mat-ripple class="btn outline accent"> <i class="fal fa-plus"></i>Secondary Button</button>
        <button mat-ripple class="btn outline success"> <i class="fal fa-plus"></i>Success Button</button>
        <button mat-ripple class="btn outline warn"> <i class="fal fa-plus"></i>Warning Button</button>
        <button mat-ripple class="btn outline danger"> <i class="fal fa-plus"></i>Danger Button</button>



        <br>

        <small>Sizes</small><br>

        <button mat-ripple class="btn primary small"> <i class="fal fa-plus"></i>Small Button</button>
        <button mat-ripple class="btn outline success"> <i class="fal fa-plus"></i>Default Size</button>
        <button mat-ripple class="btn danger large"> <i class="fal fa-plus"></i>Large Button</button>

        <br>

        <small>Rounded</small><br>

        <button mat-ripple class="btn icon primary large" ><i class="fal fa-home"></i></button>
        <button mat-ripple class="btn icon accent outline" ><i class="fal fa-home"></i></button>
        <button mat-ripple class="btn icon warn small" ><i class="fal fa-home"></i></button>

        <br>

        <small>Disabled</small><br>

        <button class="btn primary" disabled> <i class="fal fa-plus"></i>Disabled Button</button>

        <br>
        <small>Alert</small><br>

        <div class="alert success">
            <div class="content">
                <div class="icon-container"><i class="fal fa-check-circle"></i></div>
                <div class="message" >
                    <h4>Success: Item Booked Successfully</h4>
                    <p>Customer has been added to the request.</p>
                    <button class="btn-action">View Customer <i class="fal fa-eye"></i></button>
                </div>
            </div>
            <div class="close">
                <i class="fal fa-times"></i>
            </div>
    </div>

    <div class="alert danger">
            <div class="content">
                <div class="icon-container"><i class="fal fa-times-circle"></i></div>
                <div class="message" >
                    <h4>Error: Requested Amount Unavailable</h4>
                    <p>Requested item has no inventory recorded.</p>
                </div>
            </div>
            <div class="close">
                <i class="fal fa-times"></i>
            </div>
    </div>

    <div class="alert warning">
        <div class="content">
            <div class="icon-container"><i class="fal fa-exclamation-circle"></i></div>
            <div class="message" >
                <h4>Error: Requested Amount Unavailable</h4>
                <p>You do not have access for this action Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
            </div>
        </div>
        <div class="close">
            <i class="fal fa-times"></i>
        </div>
    </div>





        <!-- <button class="btn"> <i class="fal fa-plus"></i>Test Button</button>
        <button class="btn " disabled> <i class="fal fa-plus"></i>Test Button asdasd asdasd</button> -->

        <!-- <button class="btn fill" disabled> <i class="fal fa-plus"></i>Fill Disabled</button>
        <button class="btn fill" > <i class="fal fa-plus"></i>Fill Default</button>


        <button class="btn primary"> <i class="fal fa-plus"></i>Test Button</button>
        <button class="btn primary outline" disabled> <i class="fal fa-plus"></i>Disabled primary Button</button>


        <button class="btn accent"> <i class="fal fa-plus"></i>Test Button</button>
        <button class="btn accent outline"> <i class="fal fa-plus"></i>Test Button</button>


        <button class="btn warn"> <i class="fal fa-plus"></i>Test Button</button>
        <button class="btn warn outline"> <i class="fal fa-plus"></i>Test Button</button> -->




        <!-- <app-delete-button><i class="fal fa-trash-alt delete-icon"></i></app-delete-button>
        <app-delete-button [button]="true" btnClass="btn warn outline"><i class="fal fa-trash-alt delete-icon"></i></app-delete-button>

        <app-confirm-button btnClass="btn primary" (confirmed)="alert('as')">
            <i class="fal fa-plus"></i> Confirm
        </app-confirm-button> -->



    </div>
<!--<app-button text="Large" size="large"></app-button>-->
<!--<app-button text="Small Button" size="small" icon="fa-home"></app-button>-->
<!--<app-button text="Normal Button" type="danger" ></app-button>-->
<!--<app-button text="Plain Button" type="plain" ></app-button>-->



</div>
