<div class="app-wrapper">
    <div class="sidenav" [ngClass]="{'hide-sidebar': hideSideBar}">
        <div class="logo">
            <!--            <mat-icon svgIcon="boxes"></mat-icon>-->
            <img class="img" src="assets/images/logo.jpg" alt="logo">
        </div>
        <div class="nav-links">
            <ng-template [ngForOf]="userMenu" let-item ngFor>
                <div class="nav-item">
                    <div *ngIf="item.children.length" class="menu-link" matRipple routerLinkActive="active" (click)="openAsidePanel(item)">
                         <i [class]="'nav-icon fad fa-'+item.icon"></i>
                        <span>{{item?.name}}</span>
                    </div>

                    <div *ngIf="!item.children.length" class="menu-link no-outline" matRipple routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="item.link">
                        <i [class]="'nav-icon fad fa-'+item.icon" ></i>
                        <span>{{item?.name}}</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="sidenav-content" id="content">
        <div class="sidenav-content-header">
            <div class="flex">
                <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="toggle()">
                    <i class="fal fa-bars"></i>
                </button>
                <div class="pt-2 pl-3">
                    <h3>Typography</h3>
                </div>
            </div>

            <div class="d-flex flex a-center">
                <ng-container appPortalTarget="header"></ng-container>
            </div>

            <div>
                <button mat-button  [dropdown]="profile">
                    <i class="fal fa-bell"></i>
                </button>


                <button mat-button [dropdown]="profile">
                    <i class="fal fa-user-circle"></i>
                </button>

               
    
                <app-dropdown #profile borderRadius="medium">
                    <div class="profile row j-start a-center">
                        <img class="image" src="/assets/images/logo.jpg" alt="avator">
                        <div class="profile-data px-24 text-center">
                            <p>{{(useService.user | async)?.name}}</p>
                            <small>{{(useService.user | async)?.email}}</small>
                        </div>
                    </div>
                    <div class="column actions">
                        <div class="row item border-bottom" matRipple dropdownItem (click)="changePassword()">
                            <mat-icon class="fad fa-unlock-alt"></mat-icon>
                            <p>Change Password</p>
                        </div>
                        <div class="row item border-bottom" matRipple (click)="changeTheme()">
                            <mat-icon class="fad fa-moon"></mat-icon>
                            <p class="flex mr-1">Change Theme</p>
                            <i class="fad fa-toggle-{{darkTheme ? 'on' : 'off'}}" style="font-size: 24px"></i>
                        </div>
                        <div class="row item" matRipple (click)="logout()">
                            <mat-icon class="fad fa-sign-out-alt"></mat-icon>
                            <p>Log Out</p>
                        </div>
                    </div>
                </app-dropdown>
            </div>

        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



<div
    class="navigation-aside"
    *ngIf="openAside"
    @fadeInLeft
    @fadeOutLeft
>
    <div class="aside-nav-items">
        <ng-template ngFor let-menu [ngForOf]="selectedMenu?.children">

            <ng-container *ngIf="menu.children.length; else otherMenu">
                <app-collapse-item [url]="url" [key]="menu.name" [icon]="menu.icon" [title]="menu.name">
                    <a class="aside-item"
                       appCollapseItem matRipple
                       *ngFor="let item of menu.children"
                       [ngClass]="{'active': item.link == url}"
                       [routerLink]="item.link">
                        <span class="name small" style="padding-left: 40px">{{item.name}}</span>
                    </a>

                </app-collapse-item>
            </ng-container>

            <ng-template #otherMenu>
                <a class="aside-item"
                   matRipple
                   [ngClass]="{'active': menu.link == url}"
                   [routerLink]="menu.link">
                    <i [class]="'icon fal fa-'+menu.icon"></i>
                    <span class="name">{{menu.name}}</span>
                </a>
            </ng-template>

        </ng-template>
    </div>
</div>
