<!--<button mat-button *ngIf="!icon" (click)="openDialog()" color="warn">Delete</button>-->
<!--<button mat-menu-item *ngIf="icon" (click)="openDialog()" >-->
<!--    <mat-icon color="warn"><i class="fal fa-trash-alt"></i></mat-icon>-->
<!--    <span>Delete</span>-->
<!--</button>-->
<button mat-button *ngIf="!icon && !iconOnly" (click)="openDialog()" color="warn">Delete</button>
<button mat-menu-item *ngIf="icon && !iconOnly" (click)="openDialog()" >
    <mat-icon color="warn"><i class="fal fa-trash-alt"></i></mat-icon>
    <span>Delete</span>
</button>
<button mat-icon-button *ngIf="iconOnly" class="delete-icon-btn" (click)="openDialog()">
    <i class="fal fa-trash-alt delete-icon"></i>
</button>
