<div class="w-500">
    <div class="dialog-header">
        <h3 class="title">Password Change</h3>
        <button mat-icon-button mat-dialog-close>
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div>
        <form [formGroup]="form" (submit)="submit()" class="column form-padding">
            <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput type="password" placeholder="Enter old password" formControlName="old_password">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput type="password" placeholder="Enter new password" formControlName="password">
            </mat-form-field>

            <div class="w-100 row j-end a-center">
                <button type="button" mat-dialog-close class="btn plain mr-1">Cancel</button>
                <button class="btn primary" [disabled]="form.invalid">Change</button>
            </div>
        </form>
    </div>
</div>
